<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Rencon - <%= @title %></title>
</head>
<body>
    <h1>Rencon</h1>
    <h2>Easy CMS Hosting</h2>
    <hr>
    <%= yield %>
    <hr>
    <h4>Powered by Docker</h4>
</body>
</html>
