<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Rencon Plus - <%= @title %></title>
</head>
<body>
    <h1>Rencon Plus</h1>
    <h2>Container as a service</h2>
    <table><tr><td>Top</td><td>Import Compose file</td></tr></table>
    <hr>
    <%= yield %>
    <hr>
    <h4>Powered by Docker</h4>
</body>
</html>
